version: '3.8'

services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn
    restart: always
    ports:
      - "1194:1194/udp"
    volumes:
      - ./openvpn-data:/etc/openvpn
      - ./openvpn-config:/etc/openvpn/config  # Mount a directory for custom config
    cap_add:
      - NET_ADMIN
    networks:
      - vpn_network
    command: /etc/openvpn/config/openvpn.conf  # Use the custom config file

  open-webui:
    image: ghcr.io/open-webui/open-webui:ollama
    container_name: open-webui
    restart: always
    volumes:
      - ollama_data:/root/.ollama
      - openwebui_data:/app/backend/data
    ports:
      - "3000:8080"  # VPN-accessible port
    networks:
      - vpn_network

volumes:
  ollama_data:
  openwebui_data:

networks:
  vpn_network:
    driver: bridge
