version: '3.8'
services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn-server
    environment:
      - OPENVPN_PORT=1194
      - OPENVPN_PROTO=udp
      - OPENVPN_SUBNET=10.8.0.0
      - OPENVPN_PERSISTENT_KEY=true
    ports:
      - "1194:1194/udp"
    volumes:
      - ./openvpn-data:/etc/openvpn
    cap_add:
      - NET_ADMIN
    networks:
      - vpn_network
    restart: always



  open-webui:
    image: ghcr.io/open-webui/open-webui:ollama
    container_name: open-webui
    restart: always
    volumes:
      - ollama_data:/root/.ollama
      - openwebui_data:/app/backend/data
    ports:
      - "3000:8080"
    networks:
      - vpn_network
volumes:
  ollama_data:
  openwebui_data:

networks:
  vpn_network:
    driver: host